main.page {
    height: calc(100vh - 86px);
    div.age-calculator {
        background: $white;
        border-radius: 20px 20px 100px 20px;
        display: block;
        margin: 0 auto;
        padding: 50px;
        width: 800px;
        h1, h2, h3 {
            font: italic 800 80px/90px $font;
            span {
                color: $purple;
            }
        }
    }
}